.toggle {
	position: fixed;
	right: 2px;
	bottom: 2px;
	outline: none;
	border: none;
	color: rgba(253,91,90,1);
	background: rgba(0,0,0,0);
	font-size: 12px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.code-input-con {
	position: fixed;
	display: none;
	width: 500px;
	height: 300px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #fff;
}
.code-input-con button {
	position: absolute;
	font-size: 14px;
	padding: 5px 20px;
	box-sizing: border-box;
	right: 0;
	top: -29px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #fff;
	background-color: rgba(138, 220, 74, 0.8);
	transition: all ease 0.2s;
}
.code-input-con button:hover {
	background-color: rgba(138, 220, 74, 1);	
}
.code-input-con button:focus {
	box-shadow: none;
	outline: none;
}

#work-con {
	overflow: auto;
    white-space: pre-wrap;
    padding: 10px 15px;
    box-sizing: border-box;
    line-height: 16px;
}






// * {
// 	transition: all ease 0.8s;
// }
// #work-con {
// 	/* speed: 20 */
//     position: fixed;
//     width: 40%;
//     height: 94%;
//     top: 3%;
//     left: 1%;
//     border: 1px solid #333;
//     background-color: #282c34;
//     color: #fff;
// }
// #work-con .comment {
// 	/* speed: 20 */
//     color: #747269;
// }
// #work-con .selector {
// 	/* speed: 20 */
//     color: #e96951;
// }
// #work-con .key {
// 	/* speed: 20 */
//     color: #fb9356;
// }
// #work-con .value {
// 	/* speed: 20 */
//     color: #62cbcc;
// }
