.code-input-con {
	position: fixed;
	width: 500px;
	height: 300px;
	right: 5px;
	bottom: 5px;
}
.code-input-con button {
	position: absolute;
	font-size: 14px;
	padding: 5px 20px;
	box-sizing: border-box;
	right: 0;
	top: -29px;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
	background-color: rgba(138, 220, 74, 0.8);
	transition: all ease 0.2s;
}
.code-input-con button:hover {
	background-color: rgba(138, 220, 74, 1);	
}
.code-input-con button:focus {
	box-shadow: none;
	outline: none;
}

#work-con {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 500px;
    height: 300px;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #fff;
    background: #2d2d2d;
    overflow: auto;
    border: 1px solid #ccc;
    font-size: 12px;
    white-space: pre-wrap;
    outline: 0;
    line-height: 16px;
}
#work-con .comment {
    color: #747269;
    font-style: italic;
}
#work-con .selector {
    color: #e96951;
}
#work-con .key {
    color: #fb9356;
}
#work-con .value {
    color: #62cbcc;
}